<div class="container">
        <h1>Hola</h1>
    </div>

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
}

h1 {
font-size: 30vw;
background-image: url(animacionLenta.gif);
background-size: cover;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
}